[user]
	name = Your Name
	email = your.email@example.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[web]
	browser = safari
[credential]
	helper = osxkeychain
[push]
	default = simple
[difftool]
	prompt = false
[alias]
	c = commit
	ca = commit -a
	cm = commit -m
	cam = commit -am
	d = diff
	dc = diff --cached
	l = log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset" --abbrev-commit
[diff]
	tool = Kaleidoscope
[merge]
	tool = Kaleidoscope
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential